/* Variables */

:root {
    --basic-text-color: #000000;
    --basic-text-active-color: rgba(0, 0, 0, 0.3);
    --basic-text-hover-color: rgba(0, 0, 0, 0.6);
    --hover-shadow-color: rgba(0, 1, 1, 0.25);
    --light-text-color: #283136;
    --lighter-text-color: #666666;
    --social-text-color: #444444;
    --main-background-color: #ffffff;
    --button-text-hover-color: rgba(255, 255, 255, 0.3);

    --ui-base-color: #EEEEEE;
    --ui-hover-color: #DFDFDF;
    --ui-active-color: #D5D5D5;
    --ui-border-color: #DBDBDB;
    --ui-elements-color: rgba(77, 77, 77, 0.4);
    --ui-elements-noalpha-color: #A6A6A6;
    --inner-shadow-color: rgba(0, 1, 1, 0.1);
    --social-color: #E1E1E1;

    --accent-color: #FB565A;
    --accent-hover-color: #E74246;
    --accent-active-color: #D7373B;

    --success-color: #00CA74;
    --success-hover-color: #00BC6C;
    --success-active-color: #00AA62;

    --attention-color: #EFC849;
    --attention-hover-color: #EAB534;
    --attention-active-color: #E5A722;
}


/* Global */

a {
    text-decoration: none
}

.page {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: var(--basic-text-color);
}

.visually-hidden {
    /* Временное решение. Жду лекцию по доступности */
    display: none;
}


/* Layout */

.page {
    height: 100%;
}


.page-body {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/*  Layout - Main navigation */

.main-navigation-wrapper {
    display: flex;
    width: 1160px;
    align-items: center;

    margin: 0 auto;
}

.main-header {
    margin-bottom: 0;
}

.navigation-list {
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
}

.navigation-list .navigation-item {
    margin-right: 45px;
}

.navigation-list .navigation-item:last-child {
    margin: 0;
}

/* Layout - Promo */

.promo-wrapper {
    display: grid;
    width: 1160px;
    margin: 0 auto;
    grid-template-columns: 1fr 760px;
    padding: 0;
}

.promo-description-container {
    padding-top: 78px;
}

/* Layout - Services */

.services-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.services-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 100px;
    padding: 0;
}

/* Layout - About */

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 360px;
    column-gap: 140px;
    width: 1160px;
    margin: 0 auto;
    padding-top: 39px;
    padding-bottom: 46px;
}

.statistics-list {
    display: flex;
    justify-content: space-between;

    padding: 0;
}

.statistics-item {
    width: 0;
    flex-grow: 1;
}

.about-description-container {
    padding-top: 36px;
}

/* Layout - Clients */

.clients-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 36px;
}

.clients-list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0;
    padding-top: 20px;
    margin: 0;
}

/*  Layout - Footer */

.footer-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.footer-container {
    display: grid;
    grid-template-rows: 416px 217px;
}

.contacts-wrapper,
.social-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.contacts-wrapper {
    padding-top: 54px;
    padding-bottom: 54px;
}

.business-card {
    display: flex;
    flex-direction: column;
}

.business-card .button {
    margin-top: auto;
}

.social-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 139px;
    padding-top: 68px;
    padding-bottom: 68px;
}

.text-container {
    grid-column: 2;
    grid-row: 1;
    padding-top: 8px;
}

.social-list {
    display: flex;

    margin: 0;
    padding: 0;
}


/*  Layout - Catalog */

.mian-title-container {
    background-color: var(--ui-base-color);
}

.main-title-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding-top: 78px;
    padding-bottom: 108px;
}

.catalog-wrapper {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;

    width: 1160px;
    margin: 0 auto;
}

.sort-container {
    display: flex;

    padding-top: 36px;
    padding-bottom: 32px;
}

.shop-title {
    flex-grow: 1;
    margin-right: 40px;
}

.sort-list {
    display: flex;

    margin: auto 0;
    margin-right: 50px;
}


.sort-item {
    margin-right: 25px;
}

.sort-list .sort-item:last-child {
    margin-right: 0;
}

.sort-range {
    display: flex;

    margin: auto 0;
}

.range-button {
    margin-right: 18px;
}

.sort-range .range-button:last-child {
    margin-right: 0;
}

.template-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 31px;
}

.template-shop {
    padding-top: 36px;
}

.template-item {
    position: relative;
}

.template-preview {
    display: block;
    z-index: 1;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.template-description {
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    text-align: center;

    height: 231px;
    padding-top: 26px;
    padding-bottom: 44px;
    padding-left: 52px;
    padding-right: 52px;

    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;

}

.pagination {
    padding-top: 50px;
    padding-bottom: 60px;
}

.pagination-list {
    display: flex;
}

.pagination-item {
    margin-right: 12px;
}

.pagination-list .pagination-item:last-child {
    margin-right: 0;
}


/* Buttons */

.button {
    display: inline-block;

    vertical-align: middle;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-background-color);
    background-color: var(--accent-color);

    border-radius: 3px;

    padding-top: 17px;
    padding-bottom: 15px;
    /* padding-left padding-right меньше 40px не встречается */
    padding-left: 40px;
    padding-right: 40px;
}

.button:hover {
    background-color: var(--accent-hover-color);
}

.button:active {
    background-color: var(--accent-active-color);
    box-shadow: inset 0px 3px 0px var(--inner-shadow-color);
    color: var(--button-text-hover-color);
}

.app-button {
    background-color: var(--success-color);
}

.app-button:hover {
    background-color: var(--success-hover-color);
}

.app-button:active {
    background-color: var(--success-active-color);
}

.presentation-button {
    background-color: var(--attention-color) ;
}

.presentation-button:hover {
    background-color: var(--attention-hover-color) ;
}

.presentation-button:active {
    background-color: var(--attention-active-color) ;
}

.filter-button {
    border: none;

    background-color: var(--ui-base-color);
    color: var(--basic-text-color);
}

.filter-button:hover {
    background-color: var(--ui-hover-color);
}

.filter-button:active {
    background-color: var(--ui-active-color);
    color: var(--basic-text-active-color)
}

.price-button {
    width: 200px;
    padding-left: 0;
    padding-right: 0;

    margin-top: auto;
}



/* Main navigation */

.main-header {
    height: 114px;
}

.main-logo:active svg path {
    fill: var(--ui-elements-noalpha-color);
}

.main-navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-text-color);

    padding-top: 49px;

    background-color: var(--ui-base-color);
}

.main-navigation a:hover {
    color: var(--accent-color);
}

.main-navigation a:focus {
    color: var(--basic-text-active-color);
}

.navigation-list {
    list-style: none;
    padding: 0;
    padding-right: 47px;
}

.navigation-link {
    position: relative;
    text-decoration: none;
    color: var(--basic-text-color);
}

.navigation-link-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -21px;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
}

.cart-link {
    position: relative;
    width: 115px;
    text-align: right;
    margin-top: 5px;
}

.cart-link::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    left: 0px;
    top: 8px;
}


/* Promo */

.promo {
    background-color: var(--ui-base-color);
}

.promo-slogan {
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-text-color);
    margin-top: 0;
    margin-bottom: 26px;
}

.promo-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
    margin-bottom: 39px;
}


/* Services */

.services {
    background-color: var(--main-background-color);
}

.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-title {
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-text-color);
    margin-bottom: 16px;

    align-items: center;
    text-transform: uppercase;
}

.services-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
    margin-top: 0;
    margin-bottom: 33px;

    width: 260px;
}

.services-item-web::before {
    display: block;
    content: url("../img/illustration-site.png"); 
    background-color: var(--accent-color);
    width: 300px;
    height: 146px;
}

.services-item-app::before {
    display: block;
    content: url("../img/illustration-app.png"); 
    background-color: var(--success-color);
    width: 300px;
    height: 146px;
}

.services-item-presentation::before {
    display: block;
    content: url("../img/illustration-presentation.png"); 
    background-color: var(--attention-color);
    width: 300px;
    height: 146px;
}

/* About */

.about {
    background-color: var(--main-background-color);
}

.about-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-text-color);

    padding: 0;
    margin: 0;
    margin-bottom: 33px;
}

.about-caption,
.statistic-caption {
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
    text-transform: uppercase; 
}

.about-caption {
    margin-bottom: 11px;
}

.statistic-caption {
    display: block;
    text-align: center;
    font-weight: 700;
}

.statistic-caption::before {
    display: block;
    content: url("https://via.placeholder.com/360x208");
    width: 360px;
    height: 208px;
    margin-bottom: 38px;
}

.about-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
    margin-bottom: 41px;
}

.about-list {
    font-size: 16px;
    line-height: 48px;
    color: var(--light-text-color);

    list-style: none;
    margin: 0;
    padding-left: 35px;
}

.statistics-list {
    list-style: none;
    margin-top: 32px;
}

.statistics-value {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

.supertext {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
}

.statistics-text {
    font-size: 16px;
    line-height: 18px;
    color: var(--light-text-color);
    margin-top: 10px;
}


/* Clients */

.clients {
    background-color: var(--main-background-color);
    margin-bottom: 82px;
}

.clients-list {
    list-style: none;
}


/* Footer */
/* Contatcts */

.contacts {
    background-image: url("https://via.placeholder.com/1440x416"); 
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.business-card {
    width: 319px;
    height: 308px;
    box-sizing: border-box;
    padding: 50px;
    padding-bottom: 46px;
    background-color: var(--main-background-color);
}

.business-card-caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-text-color);

    margin-bottom: 22px;
}

.business-card-text,
.contacts-phone {
    font-size: 16px;
    line-height: 18px;
    color: var(--lighter-text-color);
    margin: 0;
}

.business-card-text {
    margin-bottom: 18px;
}

/* Social */

.social {
    background-color: var(--main-background-color);
}


.social-caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-text-color);
}

.social-text {
    font-size: 16px;
    line-height: 22px;
    color: var(--social-text-color);
    margin-top: 8px;
}

.social-list {
    list-style: none;
}

.social-item {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--social-color);

    margin-right: 9px;
}

.social-item:last-child {
    margin-right: 0;
}


.social-item:hover {
    background-color: var(--accent-hover-color);
}

.social-item:active {
    background-color: var(--accent-active-color);
    box-shadow: inset 0px 3px 0px var(--inner-shadow-color);
}

/* иконки подключу на шаге «Декоративные элементы» */


/* Modal */

.modal {
    display: none;
    background-color: var(--main-background-color);
}

.modal-title {
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-text-color);
}

.form-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-text-color); 
}


/* Catalog */
/* Template-shop */

.template-list,
.pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sort-list {
    list-style: none;
    padding: 0;
}

.sort-link,
.range-button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-text-active-color);
}

.range-button::before {
    display: block;
    content: url("https://via.placeholder.com/11x10"); /* на шаге «Деркоративные элементы» подключу картинки */
    width: 11px;
    height: 10px;  
}

.sort-link:hover,
.range-button:hover {
    color: var(--basic-text-hover-color);
}

.sort-link:active,
.range-button:active {
    color: var(--basic-text-color);
}

.sort-link-active,
.range-button-active {
    color: var(--basic-text-color);
}

.main-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.shop-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.template-item {
    border-radius: 5px;
}

.template-item:hover {
    box-shadow: 0px 6px 15px var(--hover-shadow-color);
}

.template-item::before {
    display: block;
    content: url("https://via.placeholder.com/360x40"); /* на шаге «Деркоративные элементы» продумаю как сделать этот элемент */
    width: 360px;
    height: 40px;  
}

.template-item:hover .template-description {
    opacity: 1;
}

.template-description {
    background-color: var(--ui-base-color);
}

.template-title {
    margin: 0;
    margin-bottom: 10px;
}

.template-title a:hover {
    color: var(--accent-color);
}

.template-title a:active {
    color: var(--basic-text-hover-color);
}

.template-title a {
    color: var(--basic-text-color);
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.template-text {
    font-size: 16px;
    line-height: 18px;
    color: var(--lighter-text-color);

    margin: 0;
}

.pagination-link {
    display: inline-block;

    vertical-align: middle;

    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-text-color);

    background-color: var(--ui-base-color);
    border-radius: 3px;

    border: 3px solid var(--ui-base-color);

    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
}

.pagination-link:hover {
    background-color: var(--ui-hover-color);
    border: 3px solid var(--ui-hover-color);
}

.pagination-link:active {
    background-color: var(--ui-hover-color);
    /* border: 3px solid var(--ui-hover-color); */
    border: 0;
    color: var(--basic-text-active-color);
    box-shadow: inset 0px 3px 0px var(--inner-shadow-color);

    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.pagination-link-current {
    background-color: transparent;
    border-radius: 3px; /* не работает :( */
    border: 3px solid var(--ui-border-color);
}

.pagination-next {
    padding-left: 75px;
    padding-right: 75px;
}

.pagination-next:active {
    padding-left: 78px;
    padding-right: 78px;
}