/* Variables */

:root {
    --basic-text-color: #000000;
    --basic-text-active-color: rgba(0, 0, 0, 0.3);
    --basic-text-hover-color: rgba(0, 0, 0, 0.6);
    --light-text-color: #283136;
    --lighter-text-color: #666666;
    --social-text-color: #444444;
    --main-background-color: #ffffff;
    --button-text-hover-color: rgba(255, 255, 255, 0.3);

    --ui-base-color: #EEEEEE;
    --ui-hover-color: #DFDFDF;
    --ui-active-color: #D5D5D5;
    --ui-border-color: #DBDBDB;
    --ui-elements-color: rgba(77, 77, 77, 0.4);
    --ui-elements-noalpha-color: #A6A6A6;
    --inner-shadow-color: rgba(0, 1, 1, 0.1);
    --social-color: #E1E1E1;

    --accent-color: #FB565A;
    --accent-hover-color: #E74246;
    --accent-active-color: #D7373B;

    --success-color: #00CA74;
    --success-hover-color: #00BC6C;
    --success-active-color: #00AA62;

    --attention-color: #EFC849;
    --attention-hover-color: #EAB534;
    --attention-active-color: #E5A722;
}


/* Global */

a {
    text-decoration: none
}

.page {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: var(--basic-text-color);
}

.visually-hidden {
    /* Временное решение. Жду лекцию по доступности */
    display: none;
}


/* Grid */

.page {
    height: 100%;
}


.page-body {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/*  Grid - Main navigation */

.main-navigation-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr min-content 1fr min-content;
    width: 1160px;
    margin: 0 auto;
}

.main-header {
    margin-bottom: 0;
}

.main-navigation {
    display: grid;
}

.main-logo {
    grid-column: 1;
}

.navigation-list {
    grid-column: 3 / 4;
    min-width: 437px;
}

.cart-link {
    grid-column: -1;
}

/* Grid - Promo */

.promo-wrapper {
    display: grid;
    width: 1160px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

/* Grid - Services */

.services-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.services-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    padding-inline-start: 0;
}

.services-item {
    width: 300px;
}

/* Grid - About */

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 160px;
    width: 1160px;
    margin: 0 auto;
}

.statistic-container {
    width: 360px;
}

.statistics-list {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 20px;

    padding-inline-start: 0;
}


/* Buttons */

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-background-color);
    background-color: var(--accent-color);

    border-radius: 3px;

    padding-top: 17px;
    padding-bottom: 15px;
    /* padding-left padding-right меньше 40px не встречается */
    padding-left: 40px;
    padding-right: 40px;
}

.button:hover {
    background-color: var(--accent-hover-color);
}

.button:active {
    background-color: var(--accent-active-color);
    box-shadow: inset 0px 3px 0px var(--inner-shadow-color);
    color: var(--button-text-hover-color);
}

.app-button {
    background-color: var(--success-color);
}

.app-button:hover {
    background-color: var(--success-hover-color);
}

.app-button:active {
    background-color: var(--success-active-color);
}

.presentation-button {
    background-color: var(--attention-color) ;
}

.presentation-button:hover {
    background-color: var(--attention-hover-color) ;
}

.presentation-button:active {
    background-color: var(--attention-active-color) ;
}

.filter-button {
    border: none;

    background-color: var(--ui-base-color);
    color: var(--basic-text-color);
}

.filter-button:hover {
    background-color: var(--ui-hover-color);
}

.filter-button:active {
    background-color: var(--ui-active-color);
    color: var(--basic-text-active-color)
}



/* Main navigation */

.main-navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-text-color);

    background-color: var(--ui-base-color);
}

.main-navigation a:hover {
    color: var(--accent-color);
}

.main-navigation a:focus {
    color: var(--basic-text-active-color);
}

.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-link {
    text-decoration: none;
    color: var(--basic-text-color);
}


/* Promo */

.promo {
    background-color: var(--ui-base-color);
}

.promo-slogan {
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-text-color);
}

.promo-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
}


/* Services */

.services {
    background-color: var(--main-background-color);
}

.services-list {
    list-style: none;
}

.services-title{
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-text-color);

    align-items: center;
    text-transform: uppercase;
}

.services-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);

    width: 260px;
}


/* About */

.about {
    background-color: var(--main-background-color);
}

.about-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-text-color);
}

.about-caption,
.statistic-caption {
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
    text-transform: uppercase; 
}

.statistic-caption {
    font-weight: 700; /* по умолчанию bolder */
}

.about-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
}

.about-list {
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);

    list-style: none;
}

.statistics-list {
    list-style: none;
}

.statistics-value {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

.supertext {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
}

.statistics-text {
    font-size: 16px;
    line-height: 18px;
    color: var(--light-text-color);
}


/* Clients */

.clients {
    background-color: var(--main-background-color);
}

.clients-list {
    list-style: none;
}


/* Footer */
/* Contatcts */

.footer-contacts {
    background-image: url("https://via.placeholder.com/1440x416"); 
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.business-card {
    background-color: var(--main-background-color);
}

.business-card-caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-text-color);
}

.business-card-text,
.contacts-phone {
    font-size: 16px;
    line-height: 18px;
    color: var(--lighter-text-color);
}

/* Social */

.footer-social {
    background-color: var(--main-background-color);
}


.social-caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-text-color);
}

.social-text {
    font-size: 16px;
    line-height: 22px;
    color: var(--social-text-color);
}

.social-list {
    list-style: none;
}

.social-button {
    width: 81px;
    height: 81px;
    background-color: var(--social-color);
}

.social-button:hover {
    background-color: var(--accent-hover-color);
}

.social-button:active {
    background-color: var(--accent-active-color);
    box-shadow: inset 0px 3px 0px var(--inner-shadow-color);
}

/* иконки подключу на следующем шаге */


/* Modal */

.modal {
    display: none;
    background-color: var(--main-background-color);
}

.modal-title {
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-text-color);
}

.form-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-text-color); 
}


/* Catalog */
/* Template-shop */

.sort-list,
.template-list,
.pagination-list {
    list-style: none;
}

.sort-link,
.range-button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-text-active-color);
}

.sort-link:hover,
.range-button:hover {
    color: var(--basic-text-hover-color);
}

.sort-link:active,
.range-button:active {
    color: var(--basic-text-color);
}

.sort-link-active,
.range-button-active {
    color: var(--basic-text-color);
}

.main-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;

    background-color: var(--ui-base-color);
}

.shop-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.template-description {
    background-color: var(--ui-base-color);
}

.template-title a:hover {
    color: var(--accent-color);
}

.template-title a:active {
    color: var(--basic-text-hover-color);
}

.template-title a {
    color: var(--basic-text-color);
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.template-text {
    font-size: 16px;
    line-height: 18px;
    color: var(--lighter-text-color);
}

.pagination-link {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-text-color);

    background-color: var(--ui-base-color);
    border-radius: 3px;
}

.pagination-link:hover {
    background-color: var(--ui-hover-color);
}

.pagination-link:active {
    background-color: var(--ui-hover-color);
    color: var(--basic-text-active-color);
    box-shadow: inset 0px 3px 0px var(--inner-shadow-color);
}

.pagination-link-current {
    background-color: transparent;
    /* обводка временно не соответствует макету, позже найду более подходящее решение*/
    border: solid var(--ui-border-color) 3px;
}