/* Variables */

:root {
    --basic-text-color: #000000;
    --basic-text-active-color: rgba(0, 0, 0, 0.3);
    --basic-text-hover-color: rgba(0, 0, 0, 0.6);
    --light-text-color: #283136;
    --lighter-text-color: #666666;
    --social-text-color: #444444;
    --main-background-color: #ffffff;
    --button-text-hover-color: rgba(255, 255, 255, 0.3);

    --ui-base-color: #EEEEEE;
    --ui-hover-color: #DFDFDF;
    --ui-active-color: #D5D5D5;
    --ui-border-color: #DBDBDB;
    --ui-elements-color: rgba(77, 77, 77, 0.4);
    --ui-elements-noalpha-color: #A6A6A6;
    --inner-shadow-color: rgba(0, 1, 1, 0.1);
    --social-color: #E1E1E1;

    --accent-color: #FB565A;
    --accent-hover-color: #E74246;
    --accent-active-color: #D7373B;

    --success-color: #00CA74;
    --success-hover-color: #00BC6C;
    --success-active-color: #00AA62;

    --attention-color: #EFC849;
    --attention-hover-color: #EAB534;
    --attention-active-color: #E5A722;
}


/* Global */

a {
    text-decoration: none
}

.page {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: var(--basic-text-color);
}

.visually-hidden {
    /* Временное решение. Жду лекцию по доступности */
    display: none;
}


/* Grid */

.page {
    height: 100%;
}


.page-body {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/*  Grid - Main navigation */

.main-navigation-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    width: 1160px;
    align-items: center;

    margin: 0 auto;
}

.main-header {
    margin-bottom: 0;
}

.navigation-list {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content; /* Решение на гридах. Позже сделаю на флексах */
    column-gap: 45px;
    margin: 0 auto;
}

/* Grid - Promo */

.promo-wrapper {
    display: grid;
    width: 1160px;
    margin: 0 auto;
    grid-template-columns: 1fr 760px;
    padding: 0;
}

.promo-description-container {
    padding-top: 78px;
}

/* Grid - Services */

.services-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.services-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 100px;
    padding: 0;
}

/* Grid - About */

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 360px;
    column-gap: 140px;
    width: 1160px;
    margin: 0 auto;
    padding-top: 39px;
    padding-bottom: 46px;
}

.statistics-list {
    /* тут попробую флексы на следующем шаге */
    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 20px;

    padding: 0;
}

.about-description-container {
    padding-top: 36px;
}

/* Grid - Clients */

.clients-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 24px;
}

.clients-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    align-items: center;
}

/*  Grid - Footer */

.footer-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.footer-container {
    display: grid;
    grid-template-rows: 416px 217px;
}

.contacts-wrapper,
.social-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.contacts-wrapper {
    padding-top: 54px;
    padding-bottom: 54px;
}

.social-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 139px;
    padding-top: 68px;
    padding-bottom: 68px;
}

.text-container {
    grid-column: 2;
    grid-row: 1;
    padding-top: 8px;
}

.social-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 9px;
    grid-column: 1;
    grid-row: 1;

    margin: 0;
    padding: 0;
}


/*  Grid - Catalog */

.mian-title-container {
    background-color: var(--ui-base-color);
}

.main-title-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding-top: 78px;
    padding-bottom: 108px;
}

.catalog-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.catalog-container {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
}

.shop-content {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.template-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    column-gap: 40px;
    row-gap: 30px;
}

/* Buttons */

.button {
    display: inline-block;

    vertical-align: middle;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-background-color);
    background-color: var(--accent-color);

    border-radius: 3px;

    padding-top: 17px;
    padding-bottom: 15px;
    /* padding-left padding-right меньше 40px не встречается */
    padding-left: 40px;
    padding-right: 40px;
}

.button:hover {
    background-color: var(--accent-hover-color);
}

.button:active {
    background-color: var(--accent-active-color);
    box-shadow: inset 0px 3px 0px var(--inner-shadow-color);
    color: var(--button-text-hover-color);
}

.app-button {
    background-color: var(--success-color);
}

.app-button:hover {
    background-color: var(--success-hover-color);
}

.app-button:active {
    background-color: var(--success-active-color);
}

.presentation-button {
    background-color: var(--attention-color) ;
}

.presentation-button:hover {
    background-color: var(--attention-hover-color) ;
}

.presentation-button:active {
    background-color: var(--attention-active-color) ;
}

.filter-button {
    border: none;

    background-color: var(--ui-base-color);
    color: var(--basic-text-color);
}

.filter-button:hover {
    background-color: var(--ui-hover-color);
}

.filter-button:active {
    background-color: var(--ui-active-color);
    color: var(--basic-text-active-color)
}



/* Main navigation */

.main-header {
    height: 114px;
}

.main-navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-text-color);

    padding-top: 49px;

    background-color: var(--ui-base-color);
}

.main-navigation a:hover {
    color: var(--accent-color);
}

.main-navigation a:focus {
    color: var(--basic-text-active-color);
}

.navigation-list {
    list-style: none;
    padding: 0;
}

.navigation-link {
    text-decoration: none;
    color: var(--basic-text-color);
}


/* Promo */

.promo {
    background-color: var(--ui-base-color);
}

.promo-slogan {
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-text-color);
    margin-top: 0;
    margin-bottom: 26px;
}

.promo-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
    margin-bottom: 39px;
}


/* Services */

.services {
    background-color: var(--main-background-color);
}

.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-title {
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-text-color);
    margin-bottom: 16px;

    align-items: center;
    text-transform: uppercase;
}

.services-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
    margin-top: 0;
    margin-bottom: 33px;

    width: 260px;
}

.services-item::before {
    display: block;
    content: url("https://via.placeholder.com/300x146"); /* на шаге «Деркоративные элементы» подключу картинки для каждого блока */
    background-color: var(--accent-color);
    width: 300px;
    height: 146px;
}

/* About */

.about {
    background-color: var(--main-background-color);
}

.about-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-text-color);

    padding: 0;
    margin: 0;
    margin-bottom: 33px;
}

.about-caption,
.statistic-caption {
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
    text-transform: uppercase; 
}

.about-caption {
    margin-bottom: 11px;
}

.statistic-caption {
    text-align: center;
    font-weight: 700;
}

.statistic-caption::before {
    display: block;
    content: url("https://via.placeholder.com/360x208");
    width: 360px;
    height: 208px;
    margin-bottom: 38px;
}

.about-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--light-text-color);
    margin-bottom: 41px;
}

.about-list {
    font-size: 16px;
    line-height: 48px;
    color: var(--light-text-color);

    list-style: none;
    margin: 0;
    padding-left: 35px;
}

.statistics-list {
    list-style: none;
    margin-top: 32px;
}

.statistics-value {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

.supertext {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
}

.statistics-text {
    font-size: 16px;
    line-height: 18px;
    color: var(--light-text-color);
    margin-top: 10px;
}


/* Clients */

.clients {
    background-color: var(--main-background-color);
    margin-bottom: 82px;
}

.clients-list {
    list-style: none;
}


/* Footer */
/* Contatcts */

.contacts {
    background-image: url("https://via.placeholder.com/1440x416"); 
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.business-card {
    width: 319px;
    height: 308px;
    box-sizing: border-box;
    padding: 50px;
    background-color: var(--main-background-color);
}

.business-card-caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-text-color);
}

.business-card-text,
.contacts-phone {
    font-size: 16px;
    line-height: 18px;
    color: var(--lighter-text-color);
}

/* Social */

.social {
    background-color: var(--main-background-color);
}


.social-caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-text-color);
}

.social-text {
    font-size: 16px;
    line-height: 22px;
    color: var(--social-text-color);
    margin-top: 8px;
}

.social-list {
    list-style: none;
}

.social-item {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--social-color);
}


.social-item:hover {
    background-color: var(--accent-hover-color);
}

.social-item:active {
    background-color: var(--accent-active-color);
    box-shadow: inset 0px 3px 0px var(--inner-shadow-color);
}

/* иконки подключу на шаге «Декоративные элементы» */


/* Modal */

.modal {
    display: none;
    background-color: var(--main-background-color);
}

.modal-title {
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-text-color);
}

.form-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-text-color); 
}


/* Catalog */
/* Template-shop */

.sort-list,
.template-list,
.pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sort-link,
.range-button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-text-active-color);
}

.sort-link:hover,
.range-button:hover {
    color: var(--basic-text-hover-color);
}

.sort-link:active,
.range-button:active {
    color: var(--basic-text-color);
}

.sort-link-active,
.range-button-active {
    color: var(--basic-text-color);
}

.main-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.shop-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.template-description {
    background-color: var(--ui-base-color);
}

.template-title a:hover {
    color: var(--accent-color);
}

.template-title a:active {
    color: var(--basic-text-hover-color);
}

.template-title a {
    color: var(--basic-text-color);
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.template-text {
    font-size: 16px;
    line-height: 18px;
    color: var(--lighter-text-color);
}

.pagination-link {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-text-color);

    background-color: var(--ui-base-color);
    border-radius: 3px;
}

.pagination-link:hover {
    background-color: var(--ui-hover-color);
}

.pagination-link:active {
    background-color: var(--ui-hover-color);
    color: var(--basic-text-active-color);
    box-shadow: inset 0px 3px 0px var(--inner-shadow-color);
}

.pagination-link-current {
    background-color: transparent;
    /* обводка временно не соответствует макету, позже найду более подходящее решение*/
    border: solid var(--ui-border-color) 3px;
}